<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="index.js" defer></script>
</head>
<body>
  <h1>Create User</h1>

  <%- include('../partials/createUserForm', {user: user}) %>

  <button class="link-button home" data-link="/">Home</button>

  <%- include('../partials/errors') %>
</body>
</html>